<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <nav>
      <a href="/cars" <%- title === 'All Cars' ? 'class="active"' : '' %>>ALL CARS</a>
      <a href="/cars/new" <%- title === 'Add Car' ? 'class="active"' : '' %>>ADD CARS</a>
      <a href="/challenger" <%- title === 'Challenger' ? 'class="active"' : '' %>>Challenger</a>
  </nav>
  </body>

</html>

