<%- include('../partials/header') %>
 <section id="show-page">
</section>
<br><br><h2>Comment</h2>
<form id="add-comment-form" method="POST"
  action="/cars/<%= cars._id %>/comments">
  <label>Comments:</label>
  <textarea name="content"></textarea>
  <br/>
    <label>Car Model:
    <select value="Select Vehicle" name="model">
        <option value="Challenger">Challenger</option>
        <option value="Charger">Charger</option>
        <option value="Durango">Durango</option>
        <option value="Journey">Journey</option>
        <option value="Grand-Caravan">Grand-Caravan</option>
        <option value="Ram-1500">Ram-1500</option>
        </select>
    </label>
    <br/>
    <label>Model Year: 
    <input type="number" value="2000" name="year" min="2000" max="2021">
    </label>
    <br/>
    <label>Car Color:
        <select value="Select Vehicle" name="color">
            <option value="Knuckle-White">Knuckle-White</option>
            <option value="Destroyer-Grey">Destroyer-Grey</option>
            <option value="Hellraisin-Purple">Hellraisin-Purple</option>
            <option value="F8-Green">F8-Green</option>
            <option value="Pitch-Black">Pitch-Black</option>
            <option value="Octane-Red">Octane-Red</option>
            </select>
        </label>
    <br/>
    <label>Title Condition:
        <select name="titleCondition">
            <option value="Clean">Clean</option>
            <option value="Salvage">Salvage</option>
            <option value="Rebuilt">Rebuilt</option>
        </select>
    </label>
    <br/>
    
    <br/>
    <button type="submit" value="Add Comment">Add Comment</button>

</form>

<% if (cars.comment.length) { %>
  <table>
    <thead>
      <tr>
        <th>Comment</th>
      </tr>
    </thead>
    <tbody>
      <% cars.comment.forEach(function(c, idx) { %>
        <tr>
          <td>  
            <form action="/cars/<%= cars.id %>/<%= idx %>?_method=DELETE" method="POST"> 

              <button type="submit">Delete</button>
            </form>            
          </td>
          <td><%= c.createdAt.toLocaleDateString() %></td>
          <td><%= c.content %></td>
          <td><strong><%= `${c.model}/${c.year}/${c.color}/${c.titleCondition}`%></strong></td>
          <td><a href="/cars/<%= cars.id %>/<%= idx %>/edit">Update</a></td>
        </tr>
      <% }); %>
    </tbody>
  </table>
<% } else { %>
  <h5>No Reviews Yet</h5>
<% } %>
<form>


</form>


<%- include('../partials/footer') %>