<%- include('../partials/header') %>

<a href="/cars/new" <%- title === 'Add Car' ? 'class="active"' : '' %>>ADD CARS</a>
<!-- <section id="show-page">
  <div>Car Model: </div>
  <div><%= cars.model %></div>
  <div>Model Year: </div>
  <div><%= cars.year %></div>
  <div>Vehicle Color: </div>
  <div><%= cars.color %></div>
  <div>Title Condition: </div>
  <div><%= cars.titleCondition %></div>
</section> -->
<table>
  <thead>
      <tr>
          <th>Challenger</th>
          <th>Model</th>
      </tr>
  </thead>
  <tbody>
      <% cars.forEach(function(c) { %>
          <tr>
              <td>
              <form action="/cars/<%= c._id %>?_method=DELETE"
                  id="delete-form" method="POST">
              <button type="submit">X</button>
          </form>
              </td>
              <td><%= c.model %></td>
              <td><%= c.year %></td>
              <td><%= c.color %></td>
              <td><%= c.titleCondition %></td>
              <td><a href="/cars/<%= c._id %>">Click here</a></td>
          </tr>
          <% }); %>
  </tbody>
</table>

<br><br><h2>Comment</h2>
<form id="add-review-form" method="POST"
  action="/cars/<%= cars._id %>/comments">
  <label>Comments:</label>
  <textarea name="content"></textarea>
  <input type="submit" value="Add Review">
</form>

<% if (cars.comment.length) { %>
  <table>
    <thead>
      <tr>
        <th>Comment</th>
      </tr>
    </thead>
    <tbody>
      <% cars.comment.forEach(function(c) { %>
        <tr>
          <td><%= c.createdAt.toLocaleDateString() %></td>
          <td><%= c.content %></td>
        </tr>
      <% }); %>
    </tbody>
  </table>
<% } else { %>
  <h5>No Reviews Yet</h5>
<% } %>


<%- include('../partials/footer') %>