<%- include('../partials/header') %>

<section id="show-page">
  <div>Car Model: </div>
  <div><%= cars.model %></div>
  <div>Model Year: </div>
  <div><%= cars.year %></div>
  <div>Vehicle Color: </div>
  <div><%= cars.color %></div>
  <div>Title Condition: </div>
  <div><%= cars.titleCondition %></div>
</section>

<br><br><h2>Comment</h2>
<form id="add-review-form" method="POST"
  action="/cars/<%= cars._id %>/comments">
  <label>Comments:</label>
  <textarea name="content"></textarea>
  <input type="submit" value="Add Review">
</form>

<% if (cars.comments.length) { %>
  <table>
    <thead>
      <tr>
      	 <th>Date</th>
        <th>Review</th>
        <th>Rating</th>
      </tr>
    </thead>
    <tbody>
      <% cars.comments.forEach(function(c) { %>
        <tr>
          <td><%= c.content %></td>
        </tr>
      <% }); %>
    </tbody>
  </table>
<% } else { %>
  <h5>No Reviews Yet</h5>
<% } %>


<%- include('../partials/footer') %>