<%- include('../partials/header') %>
 <section id="show-page">
</section>
<header class="masthead">
<div class="container">
  <div class="masthead-subheading"><%= title %></div>
</div>
</header>
<h2>Complete Form Below</h2>
<form id="add-comment-form" method="POST"
  action="/cars/<%= cars._id %>/comments">
  <div class="form-group">
  <label>Comments:</label>
  <textarea class="form-control" name="content"></textarea>
</div>
  <div class="form-group">
    <label>Car Model:
    <select class="form-control" value="Select Vehicle" name="model">
        <option value="Challenger">Challenger</option>
        <option value="Charger">Charger</option>
        <option value="Durango">Durango</option>
        <option value="Journey">Journey</option>
        <option value="Grand-Caravan">Grand-Caravan</option>
        <option value="Ram-1500">Ram-1500</option>
        </select>
    </label>
  </div>
    <div class="form-group">
    <label>Model Year: 
    <input class="form-control" type="number" value="2000" name="year" min="2000" max="2021">
    </label>
  </div>
    <div class="form-group">
    <label>Car Color:
        <select class="form-control" value="Select Vehicle" name="color">
            <option value="Knuckle-White">Knuckle-White</option>
            <option value="Destroyer-Grey">Destroyer-Grey</option>
            <option value="Hellraisin-Purple">Hellraisin-Purple</option>
            <option value="F8-Green">F8-Green</option>
            <option value="Pitch-Black">Pitch-Black</option>
            <option value="Octane-Red">Octane-Red</option>
            </select>
        </label>
      </div>
    <div class="form-group">
    <label>Title Condition:
        <select class="form-control" name="titleCondition">
            <option value="Clean">Clean</option>
            <option value="Salvage">Salvage</option>
            <option value="Rebuilt">Rebuilt</option>
        </select>
    </label>
  </div>
  <button id="comment-add" class="form-control" type="submit" value="Add Comment">Add Comment</button>
</br>
</form>

<% if (cars.comment.length) { %>
  <table id="comment-section" class="table table-hover table-dark">
    <thead>
      <tr>
        <th>Comment</th>
      </tr>
    </thead>
    <tbody>
      <% cars.comment.forEach(function(c, idx) { %>
        <tr>
          <td>  
            <form action="/cars/<%= cars.id %>/<%= idx %>?_method=DELETE" method="POST"> 

              <button class="btn btn-danger" type="submit">Delete</button>
            </form>            
          </td>
          <td><%= c.createdAt.toLocaleDateString() %></td>
          <td><%= c.content %></td>
          <td><strong><%= `${c.model}/${c.year}/${c.color}/${c.titleCondition}`%></strong></td>
          <td><a class="badge badge-danger" href="/cars/<%= cars.id %>/<%= idx %>/edit">Update</a></td>
        </tr>
      <% }); %>
    </tbody>
  </table>
<% } else { %>
  <h5>No Reviews Yet</h5>
<% } %>
<form>


</form>


<%- include('../partials/footer') %>